<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toboolist</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
<div id="app">

    
   <header>
    <section class="logo-section">
        <img src="./img/Logo.png" alt="Logo Toboolist">
        <h1>
            Toboolist
        </h1>
    </section>
   </header>

   <main class="white-container">
    <div class="button-section">
        <input type="text" v-model.trim="newElement" @keyup.enter="addToDo(newElement)">
        <button class="button-addtask" @click="addToDo(newElement)">AGGIUNGI NUOVO TO DO</button>
    </div>
    
    <div id="divider">
        <hr size="3">
    </div>

    <section class="container">
        <section class="container-section">
            <!-- <div class="title">Task:</div> -->
            <ul class="task-list" v-if="toDoList.length > 0">
                <li v-for="toDo in toDoList" :class="(toDo.done === true) ? 'lineTrough' : ''"> {{toDo.text}}  <!-- <span class="button-task" id="editorial">Editorial</span> --> <span ><i @click="removeToDo(toDo)" class="fa-solid fa-circle-xmark delete-icon"></i></span> </li>
            </ul>
            <p v-else>
                LA TUA TO DO LIST E' VUOTA. AGGIUNGI UN NUOVO TASK!
            </p>
        </section>
    </section>
   </main>
</div>

   <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
   <script type="text/javascript" src="./js/script.js"></script>
</body>
</html>